/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */
$enable-font-awesome: dynamic(true);

.song-action-edit {
	color: #1976d2;
	margin-right: 14px;
}

.song-action-delete {
	color: #c62828;
}
